.suggest-wrapper {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 5px;
  font-size: 15px;
  max-height: 300px;
  overflow: auto;
}

.suggest-item {
  margin-bottom: 2px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.suggest-item-img {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
}

.suggest-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  flex-grow: 1;
}

.suggest-item-img-container {
  margin-right: 10px;
}
