.layout {
  min-height: 100vh;
  position: relative;
}
.dark {
  background-color: var(--dark-background-main);
}
.light {
  background-color: var(--white-color);
}
.content {
  margin: 0 auto;
  max-width: 1160px;
}
