.logo {
    gap: 5px;
    position: relative;
  }
  .logo-img {
    position: absolute;
    top: -5px;
    width: 30px;
    height: 30px;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-color);
  }
  .link::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../../public/film-camera-svgrepo-com.svg");
  }