.card {
  background: var(--white-color);
  border-radius: 19px;
  width: 320px;
  text-decoration: none;
  min-height: 250px;
}
.dark {
  background-color: var(--dark-background-cart);
  box-shadow: 18px 18px 36px 0px rgba(239, 237, 243, 0.25);
}
.light {
  background-color: var(--white-color);
  box-shadow: 18px 18px 36px 0px rgba(77, 75, 80, 0.25);
}
.card-head {
  position: relative;
  min-height: 165px;
  border-radius: 19px;
}
.card-footer {
  padding: 12px;
}
.title {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.description {
  color: var(--text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--white-color);
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 20px;
}
.currency {
  color: var(--primary-color);
}
.rating {
  position: absolute;
  bottom: -13px;
  left: 15px;
  background: var(--white-color);
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: 0px 6px 24px 0px rgba(254, 114, 76, 0.2);
}
.add-to-favorites {
  text-decoration: none;
}
.add-to-favorites:hover {
  color: var(--primary-hover-color);
}
.link {
  text-decoration: none;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px;
}
.favorites-button {
  max-height: 50px;
  min-width: 170px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.favorites-button:hover {
  background-color: var(--primary-hover-color);
}
