.wrapper {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding-top: 10px;
}

.history-wrapper {
  padding: 20px 0px;
}

.history-item {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
