:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-color: #000000;
  --text-secondary: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
  --email-color: #9ea1b1;
  --dark-background-header: #343436;
  --dark-background-main: #6a6a6e;
  --dark-background-cart:#bfc0c4;;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

